@page
@model aspDotNetAppp.Pages.univeristies.detailsModel
@{
}


<p> ID is : @Model.DeatilsUni.id</p>
<p> Name is : @Model.DeatilsUni.name</p>
<p> Address is : @Model.DeatilsUni.address</p>
<a asp-page="Univerties">back one step</a>